@font-face {
  font-family: 'TT Runs';
  src: url('/fonts/runs/Regular.ttf');
  format: ('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('/fonts/norms/Regular.ttf');
  format: ('ttf');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Comic Code Ligatures';
  src: url('/fonts/comic/regular.otf');
  format: ('otf');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
