@font-face {
  font-family: 'Steinbeck';
  src: url('/fonts/steinbeck/regular.ttf');
  format: ('ttf');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Atyp Regular Variable';
  src: url('/fonts/atyp/variable.ttf');
  format: ('ttf');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
